<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="motorTransmission" params="name suffix">

        <transmission name="JointTrans${name}${suffix}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="joint${name}${suffix}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="Actuator${name}${suffix}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>

</robot>